<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true" template = "<img src='{{logo}}'>"></ngx-spinner> -->
<div class="form">
    <form [formGroup]='loginForm' (ngSubmit)='login()'>
        <p class="title">Sign In</p>
        <div class="mb-3">
            <span class="p-float-label">
                <input id="username" type="text" pInputText formControlName="username"> 
                <label for="username">Username</label>
            </span>

            <div *ngIf="username?.invalid && username?.touched && username?.dirty" class="alert alert-danger mt-1" role="alert">
                <span *ngIf="username?.errors?.['required']">username is required</span>
                <span *ngIf="username?.errors?.['minlength']">username needs to be 4 characters</span>
            </div>
       
        </div>
        <div class="">
            <span class="p-float-label">
                <input id="password" type="password" pInputText formControlName="password"> 
                <label for="password">Password</label>
            </span>

            <div *ngIf="password?.invalid && password?.touched && password?.dirty" class="alert alert-danger mt-1"
                role="alert">
                <span *ngIf="password?.errors?.['required']">Password is required</span>
                <span *ngIf="password?.errors?.['minlength']">Password needs to be 4 characters</span>
            </div>
        
        </div>
        <button pButton pRipple *ngIf="!waiting" [disabled]="loginForm.invalid" type="submit" label="Sign In" class="p-button-outlined"></button>
        <button pButton pRipple *ngIf="waiting" disabled="true" type="submit" label="Waiting" class="p-button-outlined"></button>
    </form>
</div>