/* You can add global styles to t   his file, and also import other style files */
@import '~primeflex/primeflex.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/mdc-dark-indigo/theme.css';
@import '~primeng/resources/primeng.min.css';
@import './assets/styles/colors';

body{
    margin: 0;
}
a {
    text-decoration: none;
    color: $white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
